<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
    <!--Bootstrap CSS link-->
</head>
<!--The header-->


<body class="body">
    <nav class="top_nav">
        <ul class="all_flex">
            <div class="top_nav1">
            <li>
                <a href="{{url_for('views.home')}}"><div class="top_a_text1">HOME</div></a>
            </li>
            </div>
            <div class="top_nav2">
                {% if session['login'] %}
                <li>
                    <a href="{{url_for('views.filter_completed_paper')}}">
                        <div class="top_a_text2">Past Results</div>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('views.setting')}}">
                        <div class="top_a_text2">Setting</div>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('auth.logout')}}">
                        <div class="top_a_text2">Log Out</div>
                    </a>
                </li>
                {% endif %}
                {% if session['login'] == False %}
                <li>
                    <a href="{{url_for('auth.login')}}"><div class="top_a_text2">Sign Up/Login</div></a>
                </li>
                {% endif %}
            </div>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>                    
                {% else %}
                    <div class="alert alert-success alert-dismissable fade show" role="alert" style="position:relative;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}



    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--Bootstrap Javascript link-->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
    ></script>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>

</html>