{% extends 'base.html' %}

{% block title %}
<title>Past Result</title>
{% endblock %}



{% block content %}
<style>
    body {
        height: auto;
        min-height: 100vh;
    }
</style>

        <div style="height:auto; width:80%; left:10%; position: relative; text-align:center;"> 
            <br><br><h1>Click the name of the paper to view your past result</h1><br>
            
            
            <table class="table table-bordered" style="background-color:#FFFFFF; opacity: 0.75;">
            <!--Bootstrap class that has border-->
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Past Paper</th>
                            <th scope="col">Highest Score</th>
                        </tr>
                    </thead>
                    <!--Putting 3 columns at the top to begin-->
                    {% if number_of_completed == 0 %}
                        <tr>
                            <th scope="row">none</th>
                            <td>You haven't completed any paper yet!</td>
                            <td>none</td>
                        </tr>
                    <!--Tell the user to do at least 1 paper-->

                    {% else %}
                    {% for i in range(number_of_completed) %}
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{session['completed'][i]}}</td>
                            <td>{{session['highest_score'][i]}}/95
                            </td>
                        </tr>
                    <!--Display all the papers that the user has done-->
                    {% endfor %}
                    {% endif %}
                    
                    
                </tbody>
            </table>
        </div>
        <br>

{% endblock %}