{% extends 'base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="login_container1">

<div class="login_container2">
<div class="login_container3">
    <div class="login_text1">
        Sign up
    </div>
    <form action="/sign_up" method="POST">
        <div class="all_flex">
            <div class="login_container4">
                <label for="account_name" class = "login_label">Account Name:</label>
            </div>
            <input minlength="6" class ="login_input" type="text" id="account_name" name="account_name" placeholder=" At least 6 characters" autocomplete="off">
            <!--id means the label is refering to this input
            name is important as it is what is passed to the backend-->
        </div>

        <div class="all_flex">
            <div class="login_container4">
                <label for="user_name" class="login_label">User Name:</label>
            </div>
            <input class ="login_input" type="text" id="user_name" name="user_name" placeholder=" At least 2 characters" autocomplete="off">
        </div>
    
        <div class="all_flex">
            <div class="login_container4">
                <label for="password1" class="login_label">Password:</label>
            </div>
            <input class ="login_input" type="password" id="password1" name="password1" placeholder=" At least 6 characters" autocomplete="off">
        </div>
        
        <div class="all_flex">
            <div class="login_container4">
                <label for="password2" class="login_label">Confirm Password:</label>
            </div>
            <input class ="login_input"  style="margin-top:0.5vh;" type="password" id="password2" name="password2" placeholder=" Confirm password" autocomplete="off">
        </div>
        {% if session['sign_up_error'] %}
            <div class="sign_up_error">{{session['sign_up_error']}}</div>
            <input type="submit" class="login_button1" style="margin-top:0%;" value="Sign up">
        {% else %}
            <input type="submit" class="login_button1" value="Sign up">
        {% endif %}

    </form>
</div>
</div>

<div class="login_container2">
<div class="login_container3">
    <div class="login_text1">
        Log in
    </div>
    <form action="/login" method="POST">
        <div class="all_flex">
            <div class="login_container4">
                <label for="account_name_1" class = "login_label">Account Name:</label>
            </div>
            <input class ="login_input" type="text" id="account_name_1" name="account_name_1" placeholder=" Enter account name" autocomplete="off">
            <!--id means the label is refering to this input
            name is important as it is what is passed to the backend-->
        </div>
        <div class="all_flex">
            <div class="login_container4">
                <label for="password" class="login_label">Password:</label>
            </div>
            <input class ="login_input" type="password" id="password" name="password" placeholder=" Enter password">
        </div>
        
        {% if session['login_error'] %}
            <div class="login_error">{{session['login_error']}}</div>
            <input type="submit" class="login_button1" style="margin-top: 1%;" value="Log in">
        {% else %}
            <input type="submit" class="login_button1" style="margin-top: 38.4%;" value="Log in">
        {% endif %}
        
        
    </form>
</div>
</div>
</div>
{% endblock %}