{% extends 'base.html' %}
<!--Extend base template-->


{% block title %}
<title>Home</title>
{% endblock %}



{% block content %}
<style>
    p {
        position:relative;
        display: inline-block;
        background-color:white;
        opacity: 0.6;
        font-family:'Candal';
        font-weight: bold;
    }
</style>
<!--styling for the p-tag in home page-->


    <div class="container" style="width: 84%; height:auto; position: relative;"> 
<!--create a box in the middle of the page-->

        <br><br><br>
        <h1 style="text-align: center; position: relative; color:white;">AUSTRALIAN MATHEMATICS COMPETITION</h1><br>
        <div style = "display: flex; flex-wrap: wrap; justify-content: space-around;">
<!--create a smaller box-->

            <div class="col-sm-5 col-md-5 col-lg-5" style="padding-bottom: 30px;">
<!--Create another sub-smaller box-->
                <a href="setting_exam">
                    <img src="/static/home/function_1.jpg" class="card-img-top" style="position: relative;">
                </a>
<!--Image with link, clickable-->

                <p><b>FULL past papers in exam condition</b><br><br>
                    Past papers difficulties involving: Junior, Intermediate , Senior<br>
                    Past papers years from: 2016 ~ 2020<br><br>

                    Only involving Q1~Q25<br>(Excluding Q26~Q30 because their difficulties)
                </p>
<!--Introduction-->

            </div>
            <div class="col-sm-5 col-md-5 col-lg-5" style="padding-bottom: 30px;">
                <a href="setting_quiz">
                    <img src="/static/home/function_2.png" class="card-img-top" style="position: relative;">
                </a>
                
                <p><b>Random quizzes selected from each papers</b><br><br>
                    Solve the random set of questions with the shortest time and highest accuracy<br>
                    Available difficulties: Junior, Intermediate, Senior<br>
                    Available question sets: Q1~10, Q11~20, Q21~25
                </p>
            </div>
        </div>

<!--Work on them during sprint 3-->
        <div style = "display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="padding-bottom: 30px;">
                <a href="filter_completed_paper">
                    <img src="/static/home/function_3.jpg" class="card-img-top" style="position: relative;">
                </a>
                
                <p></p>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5" style="padding-bottom: 30px;">
                <a href="setting">
                    <img src="/static/home/function_4.jpg" class="card-img-top" style="position: relative;">
                </a>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}