{% extends 'base.html' %}

{% block title %}
<title>Result</title>
{% endblock %}

{% block content %}

<div style="text-align :center;">
    <h1>Congratulations</h1><br>

    {% if type == "quiz_5" or "quiz_10" %}
        {% if type == "quiz_5" %}
            <h2>You scored {{score}} out of 5</h2>
                <!--Work on the specific width later-->

        {% elif type == "quiz_10" %}
            <h2>You scored {{score}} out of 10</h2>
            
        {% endif %}    
        <div class="card offset-sm-1" style="width: 84%; height:auto; display: flex; align-items: center; justify-content: center; background-color:transparent; opacity:0.75;"> 
            <!--Creating a box
                Height:full screen
                Width: 84% of the length
                The next thing inside the box will be in the center of this box-->
        
                <br><br><br>
                {% for i in range(session['run']) %}
                {% set current_question = i + 1 %}
                <!--Print the questions 10 or 5 times and count the current question-->
        
                <div style="height:auto; width:100%; text-align:center;"> 
                    <!--Creating another smaller box
                        I plan to put question image and muti-choice buttons in it
                        This ensure at least the format for the questions are in the middle, with a same size (at least width) every time-->
                        <img src="/static/{{session['file_location_set'][i]}}/{{session['question_set'][i]}}.jpg" class="card-img-top" 
                        id="image{{current_question}}" style="position: relative; padding-top: 100px; padding-bottom:5px;"> <br>
                        <!--The link of the image is actually grabbed from the "picture_file" column in the database, which was passed from python
                        The "file_location_set" is passed from python as well by user's filter
                        The class is from bootstrap ensuring the image stay on top and full width in size-->
                        {% set actual_question = i + session['constant'] %}
                        <form action="/upload_user_answer_quiz", method="post">
                    <!--action means do that route, method "post" means update information I think-->
        
        
                        <br><br>
                        <div class="btn_layout">
                            <!--session['marking_scheme'][i][0] Correct answer-->
                            <!--session['marking_scheme'][i][1] User answer-->


                            {% if session['marking_scheme'][i][0] == 'a' %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--If the correct answer is 'a', style the button green-->

                            {% elif session['marking_scheme'][i][1] == 'a' %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--If the user answer is 'a', style the button red
                                If both of them are 'a', then the button is still green because Jinja rum the if answer is 'a' first
                                This means only 'a' will be green-->

                            {% elif session['marking_scheme'][i][1] == '' or session['marking_scheme'][i][0] !=session['marking_scheme'][i][1]%}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--I want all the remaining button to be grey if the user didn't get the question correct
                                Therefore if the answer was empty or if it was wrong, the remaining buttons will be grey
                                -->

                            {% else %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a" disabled> 
                                <label class="btn_style" for="answer{{current_question}}a">A</label>
                                <!--Of course, the last probability is that the user got the question right and the remaining buttons will be white-->

                            {% endif %}


                            {% if session['marking_scheme'][i][0] == 'b' %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>
                                
                            {% elif session['marking_scheme'][i][1] == 'b' %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>

                            {% elif session['marking_scheme'][i][1] == ''or session['marking_scheme'][i][0] !=session['marking_scheme'][i][1]%}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b" disabled>
                                <label class="btn_style" for="answer{{current_question}}b">B</label>
                            {% endif %}
                            

                            {% if session['marking_scheme'][i][0] == 'c' %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                                
                            {% elif session['marking_scheme'][i][1] == 'c' %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                            
                            {% elif session['marking_scheme'][i][1] == ''or session['marking_scheme'][i][0] !=session['marking_scheme'][i][1]%}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c" disabled>
                                <label class="btn_style" for="answer{{current_question}}c">C</label>
                            {% endif %}


                            {% if session['marking_scheme'][i][0] == 'd' %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                                
                            {% elif session['marking_scheme'][i][1] == 'd' %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                            
                            {% elif session['marking_scheme'][i][1] == ''or session['marking_scheme'][i][0] !=session['marking_scheme'][i][1]%}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d" disabled>
                                <label class="btn_style" for="answer{{current_question}}d">D</label>
                            {% endif %}


                            {% if session['marking_scheme'][i][0] == 'e' %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>
                                
                            {% elif session['marking_scheme'][i][1] == 'e' %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>
                            
                            {% elif session['marking_scheme'][i][1] == ''or session['marking_scheme'][i][0] !=session['marking_scheme'][i][1]%}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>

                            {% else %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e" disabled>
                                <label class="btn_style" for="answer{{current_question}}e">E</label>
                            {% endif %}

                        </div>
                        <!--type radio is for muti-choice, choosing one in a whole group
                        "name" will be how we are going to recall the variable in python
                        "value" will be the value of the variable "answer"
                        "id" will be how we use {label for} to recognise the specific "invisible" radio button, setting the label checked!
                        Note that the name changes with the for loop
                        -->
            </div>
            {% endfor %}
                    </form>
        </div>
        <div class="question_sidenav" style="background-color:transparent;">
            {% for i in range(session['run']) %}
            {% set current_question = i + 1 %}
            <a id="q{{current_question}}" href="#image{{current_question}}">Question {{current_question}}</a>
            {% endfor %}
        </div>
    {% else %}
        <h2>You scored {{score}} out of 95</h2>
<!--Work on the specific width later-->
    <div class="card offset-sm-1" style="width: 84%; height:auto; display: flex; align-items: center; justify-content: center; background-color:transparent; opacity:0.75;"> 
        <!--Creating a box
            Height:full screen
            Width: 84% of the length
            The next thing inside the box will be in the center of this box-->
    
            {% for i in range(25) %}
            {% set current_question = i + 1 %}
            <!--Print the questions 30 times and count the current question-->
    
            <div style="height:auto; width:100%; text-align:center;"> 
                <!--Creating another smaller box
                    I plan to put question image and muti-choice buttons in it
                    This ensure at least the format for the questions are in the middle, with a same size (at least width) every time-->
                    
                    <img src="/static/{{session['file_location']}}/{{session['information'][current_question-1][0]}}.jpg" class="card-img-top" 
                    id="image{{current_question}}" style="position: relative; padding-top: 100px;"> <br>
                    <!--The link of the image is actually grabbed from the "picture_file" column in the database, which was passed from python
                    The "file_location" is passed from python as well by user's filter
                    The class is from bootstrap ensuring the image stay on top and full width in size-->
                
                    <form action="/upload_user_answer", method="post">
                <!--action means do that route, method "post" means update information I think-->
    
    
                        <!--Buttons groups-->
                        <br><br>
                        <div class="btn_layout">
                            <!--session['marking_scheme'][i][0] Correct answer-->
                            <!--session['marking_scheme'][i][1] User answer-->


                            {% if session['answer_set'][i] == 'a' %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--If the correct answer is 'a', style the button green-->

                            {% elif session['marking_scheme'][i] == 'a' %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--If the user answer is 'a', style the button red
                                If both of them are 'a', then the button is still green because Jinja rum the if answer is 'a' first
                                This means only 'a' will be green-->

                            {% elif session['marking_scheme'][i] == '' or session['answer_set'][i] !=session['marking_scheme'][i] %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}a">A</label>
                                <!--I want all the remaining button to be grey if the user didn't get the question correct
                                Therefore if the answer was empty or if it was wrong, the remaining buttons will be grey
                                -->

                            {% else %}
                                <input type="radio" id="answer{{current_question}}a" name="answer{{current_question}}" value="a" disabled> 
                                <label class="btn_style" for="answer{{current_question}}a">A</label>
                                <!--Of course, the last probability is that the user got the question right and the remaining buttons will be white-->

                            {% endif %}


                            {% if session['answer_set'][i] == 'b' %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>
                                
                            {% elif session['marking_scheme'][i] == 'b' %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>

                            {% elif session['marking_scheme'][i] == '' or session['answer_set'][i] !=session['marking_scheme'][i] %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}b">B</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}b" name="answer{{current_question}}" value="b" disabled>
                                <label class="btn_style" for="answer{{current_question}}b">B</label>
                            {% endif %}
                            

                            {% if session['answer_set'][i] == 'c' %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                                
                            {% elif session['marking_scheme'][i] == 'c' %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                            
                            {% elif session['marking_scheme'][i] == '' or session['answer_set'][i] !=session['marking_scheme'][i] %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}c">C</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}c" name="answer{{current_question}}" value="c" disabled>
                                <label class="btn_style" for="answer{{current_question}}c">C</label>
                            {% endif %}


                            {% if session['answer_set'][i] == 'd' %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                                
                            {% elif session['marking_scheme'][i] == 'd' %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                            
                            {% elif session['marking_scheme'][i] == '' or session['answer_set'][i] !=session['marking_scheme'][i] %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}d">D</label>
                            
                            {% else %}
                                <input type="radio" id="answer{{current_question}}d" name="answer{{current_question}}" value="d" disabled>
                                <label class="btn_style" for="answer{{current_question}}d">D</label>
                            {% endif %}


                            {% if session['answer_set'][i] == 'e' %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #1fd83b; box-shadow: #057b07 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>
                                
                            {% elif session['marking_scheme'][i] == 'e' %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #f51b1b; box-shadow: #870707 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>
                            
                            {% elif session['marking_scheme'][i] == '' or session['answer_set'][i] !=session['marking_scheme'][i] %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e"  disabled>
                                <label class="btn_style" style="background-color: #413f3b; box-shadow: #1e2024 3px 3px 7px; color:#f1f1f1;" for="answer{{current_question}}e">E</label>

                            {% else %}
                                <input type="radio" id="answer{{current_question}}e" name="answer{{current_question}}" value="e" disabled>
                                <label class="btn_style" for="answer{{current_question}}e">E</label>
                            {% endif %}

                        </div>
                        <!--type radio is for muti-choice, choosing one in a whole group
                        "name" will be how we are going to recall the variable in python
                        "value" will be the value of the variable "answer"
                        "id" will be how we use {label for} to recognise the specific "invisible" radio button, setting the label checked!
                        Note that the name changes with the for loop
    
                        Onclick, when the button is clicked, the event: myFunction happens which renders the color of the side-nav
                        -->
            </div>
            {% endfor %}

                    </form>
        </div>
    
        <div class="question_sidenav" style="background-color:transparent;">
            {% for i in range(25) %}
                {% set current_question = i + 1 %}
                {% if session['marking_scheme'][i][0] ==session['marking_scheme'][i][1]%}
                    <a id="q{{current_question}}" href="#image{{current_question}}" style="background-color:#1fd83b;">Question {{current_question}}</a>
                    <!--If the answer is right, style sidenav green-->

                {% elif session['marking_scheme'][i][1] == ''%}
                    <a id="q{{current_question}}" href="#image{{current_question}}" style="background-color:#413f3b;">Question {{current_question}}</a>
                    <!--If the answer is empty, style sidenav grey-->

                {% else %}
                    <a id="q{{current_question}}" href="#image{{current_question}}" style="background-color:#f51b1b;">Question {{current_question}}</a>
                    <!--If the answer is wrong, style sidenav red-->

                {% endif %}
            {% endfor %}
        </div>
        <!--The side-nav with the corresponding id to each button for the javascript to render-->
    {% endif %}
</div>
{% endblock %}