{% extends 'base.html' %}

{% block title %}
<title>Setting Up your Exam</title>
{% endblock %}



{% block content %}

<div class="setting_exam_container1">
    <!--Horizontal line box-->
    <div class="setting_exam_container2">
    <!--A smaller box inside that line box-->
    <form action="/question", method="post" style="position: relative;">
    <!--A cutsomized dropdown-->
    
        <label class="setting_exam_label">Please select the year for your past paper</label>
        <br>
        <select name="year" class="setting_exam_select" >
            <option value="2020" style="text-align:center; font-weight:600; font-size:24px;">2020 - (default)</option>
            <option value="2019" style="text-align:center; font-weight:600; font-size:24px;">2019</option>
            <option value="2018" style="text-align:center; font-weight:600; font-size:24px;">2018</option>
            <option value="2017" style="text-align:center; font-weight:600; font-size:24px;">2017</option>
            <option value="2016" style="text-align:center; font-weight:600; font-size:24px;">2016</option>
        </select>    
        <br>
        <label class="setting_exam_label">Please select the difficulty for your past paper</label>
        <br>
        <select name="difficulty" class="setting_exam_select" style="margin-bottom: 100px;">
            <option value="senior" style="text-align:center; font-weight:600; font-size:24px;">Senior - (default)</option>
            <option value="intermediate" style="text-align:center; font-weight:600; font-size:24px;">Intermediate</option>
            <option value="junior" style="text-align:center; font-weight:600; font-size:24px;">Junior</option>
        </select>
        <input type="submit" value="Let's get started" class="setting_exam_button">
    </form>
</div>
</div>
{% endblock %}