{% extends 'base.html' %}
<!--Extend base template-->


{% block title %}
<title>Setting</title>
{% endblock %}



{% block content %}

<div class="login_container1" style="height: 87vh;">
<!--A horizontal container for a whole line-->

    <div class="setting_container1">
    <!--Left box-->

        <div class="setting_container2">
            <div class="setting_text1">Your Information</div>
        </div>
        <!--Top for the left box-->

        <div class="setting_container3">
        <!--Buttom for the left box-->
            <div class="setting_text2">
                Account Name: <b>{{session['setting_account_name']}}</b>
            </div>
            <div class="setting_text2">
                User Name: <b>{{session['setting_user_name']}}</b>
            </div>
        </div>
    </div>

    <div class="login_container2">
    <!--Right box-->
    <div class="login_container3">
    <!--A smaller box-->
        <div class="login_text1" style="font-size:46px; margin-bottom:8%;">
            Reset Password
        </div>
        <form action="/change_password" method="POST">
            <div class="all_flex">
                <div class="login_container4">
                    <label for="old_password" class = "login_label">Old Password:</label>
                </div>
                <input class ="login_input" type="password" id="old_password" name="old_password" placeholder=" Enter old password">
                <!--id means the label is refering to this input
                name is important as it is what is passed to the backend-->
            </div>

            <div class="all_flex">
                <div class="login_container4">
                    <label for="new_password" class="login_label">New Password:</label>
                </div>
                <input class ="login_input" type="password" id="new_password" name="new_password" placeholder=" At least 6 characters">
            </div>

            <div class="all_flex">
                <div class="login_container4">
                    <label for="confirm_new_password" class="login_label">Confirm New Password:</label>
                </div>
                <input class ="login_input" style="margin-top:0.5vh;" type="password" id="confirm_new_password" name="confirm_new_password" placeholder=" Confirm new password">
            </div>

            <!--Display system messages to tell the user-->
            {% if success == 'exist' %}
                <div class="setting_message1">{{session['update_message']}}</div>
                <input type="submit" class="setting_button" style="margin-top: 0%;" value="Submit">
                
            {% elif error == 'type1' %}
                <div class="setting_message2">{{session['update_message']}}</div>
                <input type="submit" class="setting_button" style="margin-top: 0%;" value="Submit">

            {% elif error == 'type2' %}
                <div class="setting_message3">{{session['update_message']}}</div>
                <input type="submit" class="setting_button" style="margin-top: 0%;" value="Submit">

            {% else %}
                <input type="submit" class="setting_button" style="margin-top: 20%;" value="Submit">
            {% endif %}
            
            
        </form>
    </div>
    </div>
</div>
{% endblock %}