{% extends 'base.html' %}

{% block title %}
<title>Setting Up your Quiz</title>
{% endblock %}



{% block content %}

<div class="setting_exam_container1">
<!--Horizontal line box-->
<div class="setting_exam_container2">
<!--A smaller box inside that line box-->
    <form action="/quiz", method="post" style="position: relative;">
    <!--A cutsomized dropdown-->
        <label class="setting_exam_label">Please select the range of the questions you want to challenge</label>
        <br>
        <select name="set" class="setting_exam_select">
            <option value="set1" style="text-align:center; font-weight:600; font-size:24px;">Q1 ~ Q10 - (default)</option>
            <option value="set2" style="text-align:center; font-weight:600; font-size:24px;">Q11 ~ Q20</option>
            <option value="set3" style="text-align:center; font-weight:600; font-size:24px;">Q21 ~ Q25</option>
        </select>    
        <br>
        <label class="setting_exam_label">Please select the difficulty for your quizzes</label>
        <br>
        <select name="difficulty" class="setting_exam_select" style="margin-bottom: 100px;">
            <option value="senior" style="text-align:center; font-weight:600; font-size:24px;">Senior - (default)</option>
            <option value="intermediate" style="text-align:center; font-weight:600; font-size:24px;">Intermediate</option>
            <option value="junior" style="text-align:center; font-weight:600; font-size:24px;">Junior</option>
        </select>
        <input type="submit" value="Let's get started" class="setting_exam_button">
    </form>
</div>
</div>
{% endblock %}