{% extends 'base.html' %}
{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block content %}
<style>
    body {
        height:100vh;
    }
</style>


<form method="POST" style="position: relative; padding-top:55px; text-align:center;">
    <h3>Sign Up</h3>
    <div style="display: flex; margin-left:39%;">
        <label for="account_name" style="padding-right: 32px;">Account Name</label>
        <input type="text" id="account_name" name="account_name" placeholder="At least 6 characters" autocomplete="off">
        <!--id means the label is refering to this input
        name is important as it is what is passed to the backend-->
        <div class="help">
            <div class="icon">?</div>
            <div class="popup">Account name is what you will be used to login</div>
        </div>
        <!--help provides the information that the users might need
        icon has opacity 1
        popup has opacity 0 and when this one of the two is hovered, the popup opacity will change to 1-->
    </div>

    <div style="display: flex; margin-left:39%;">
        <label for="user_name" style="padding-right: 58px;">User Name</label>
        <input type="text" id="user_name" name="user_name" placeholder="At least 2 characters" autocomplete="off">
        <div class="help">
            <div class="icon">?</div>
            <div class="popup">User name is what you will be seen by others on the website</div>
        </div>
    </div>

    <div style="display: flex; margin-left:39%;">
        <label for="password1" style="padding-right: 70px;">Password</label>
        <input type="password" id="password1" name="password1" placeholder="At least 6 characters" autocomplete="off">
        <div class="help">
            <div class="icon">?</div>
            <div class="popup">Login requires your account name and password</div>
        </div>
    </div>
    
    <div style="display: flex; margin-left:39%;">
        <label for="password2">Password (Confirm)</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm password" autocomplete="off">
        <div class="help">
            <div class="icon">?</div>
            <div class="popup">Please enters the password you entered earlier</div>
        </div>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}