.question_sidenav {
    width: 8.5%;
    height: 94%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
}


.question_sidenav a {
    padding-left: 5.9%;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 3%;
}


.question_sidenav a:hover {
    color: #007bff;
}


.question_sidenav a:active {
    background-color: #007bff;
    color: #f1f1f1;
}




/* CSS */

.btn_layout {
    display: flex;
    justify-content: space-evenly;
}


/* styling for muti-choice buttons */
.btn_style {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 80px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 40px;
}

/* minimize browswer radio button i.e. make it gone */
.btn_layout input {
    height: 0px;
    width: 0px;
}


/* This changes the checked color of the label */
.btn_layout input[type="radio"]:checked+label {
    background-color: #007bff;
    box-shadow: #3d73de 3px 3px 7px;
    color:#f1f1f1;
}
/*So you click at the button (label), label for allows the radio button to be selected, 
then the selected radio button will make the label change color*/



.btn_style:hover {
    box-shadow: rgba(4, 80, 244, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-10px);
}

.btn_style:active {
    background-color: #2e6be3;
    box-shadow: #a6a9a6 3px 3px 7px;
    color:#f1f1f1;
    transform: translateY(2px);
}



.help{
    display: flex;
}

/* create a ? help icom */
.help .icon {
    height: 20px;
    width: 20px;
    background: #e5ecf3;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 6px;
}

/* hide the help messages until it is hovered */
.help .popup{
    width: 160px;
    background-color: #e5ecf3;
    position: absolute;
    border-radius: 10%;
    opacity: 0;
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.help:hover .popup{
    opacity: 1;
}

.help .popup2{
    width: 220px;
    background-color: #e5ecf3;
    position: absolute;
    border-radius: 10%;
    opacity: 0;
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.help:hover .popup2{
    opacity: 1;
}
